<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="jumbotron">
				<h1>Welcome to the Movie DB</h1>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>Title</th>
							<th>Year</th>
							<th>Category</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
						<% movies.forEach((movie) => { %>
						<tr class="table-striped">
							<td><%= movie.title %></td>
							<td><%= movie.year %></td>
							<td><%= movie.category %></td>
							<td><%= movie.rating %></td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
